<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253950129263-5co0u9ielq0phi3c23nudhgq6f888snl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253950129263-5co0u9ielq0phi3c23nudhgq6f888snl</string>
	<key>API_KEY</key>
	<string>AIzaSyBNRScJYMOIHTUv4NBkyoAm9UXpOT35xBI</string>
	<key>GCM_SENDER_ID</key>
	<string>253950129263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.The-Support-Guide</string>
	<key>PROJECT_ID</key>
	<string>the-support-guide</string>
	<key>STORAGE_BUCKET</key>
	<string>the-support-guide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253950129263:ios:679bc8b42f805e4961099a</string>
</dict>
</plist>